{% extends "modelo.html" %}

{% block title %}Login{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Abc Bolinhas</h2>
                    <h3>Bem-vindo</h3>
                    <form action="{{ url_for('login.validaLogin') }}" method="post">
                        <!-- 'login.login' -->
                        <div class="row">
                            <div class="col col-12">
                                <div class="form-group">
                                    <input placeholder="Login" name="usuario" type="text" class="form-control" required
                                        value="leo" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <div class="form-group">
                                    <input placeholder="Senha" name="senha" type="password" class="form-control"
                                        required value="123">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <div class="form-group">
                                    <button class="btn btn-block btn-success">Login</button>
                                </div>
                            </div>
                        </div>

                        {% if request.args.get('falhaLogin') == '1': %}
                        <div class="row">
                            <div class="col col-12">
                                <div class="alert alert-danger" role="alert">
                                    Falha de Login! Verifique seus dados e tente novamente!
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if request.args.get('falhaSessao') == '1': %}
                        <div class="row">
                            <div class="col col-12">
                                <div class="alert alert-danger" role="alert">
                                    Falha de Sessão! Realize seu login!
                                </div>
                            </div>
                        </div>
                        {% endif %}                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}