{% extends "modelo.html" %}

{% block title %}Pedido{% endblock %}

{% block content %}
<h1>Pedido</h1>
<form method='POST'>

    <div class="row mt-3">
        <div class="col col-3">
            <div class="form-group">
                <label for="num">Número do Pedido</label>
                <input readonly value="" id="num" type="text" class="form-control">
            </div>
        </div>
        <!-- <div class="col col-3">
            <div class="form-group">
                <label for="nome">Nome do Cliente</label>
                <input id="nome" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                <label for="tel">Telefone</label>
                <input id="tel" type="text" class="form-control">
            </div>
        </div> -->
        <div class="col col-3">
            <div class="form-group">
                <label for="code">Selecione o Cliente</label>
                <select id="code" name="code" type="text" class="form-control">
                    {% for cliente in clientes %}
                    <option value="{{ cliente[0] }}">{{ cliente[1] }} </option>
                    {% endfor %}

                </select>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col col-3">
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input id="endereco" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-1">
            <div class="form-group">
                <label for="numero">Número</label>
                <input id="numero" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-2">
            <div class="form-group">
                <label for="cep">CEP</label>
                <input id="cep" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input id="bairro" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input id="cidade" type="text" class="form-control">
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col col-3">
            <div class="form-group">
                <label for="data_hora">Data/Hora Local</label>
                <input id="data_hora" type="datetime-local" class="form-control">
            </div>
        </div>
    </div> -->
     <div class="row">
        <div class="col col-6">
            <div class="form-group">
                <label for="observacoes">Observações:</label>
                <textarea class="form-control" name="observacoes" id="observacoes" rows="2"></textarea>
            </div>
        </div>
    </div>

    <hr> 

     <!-- <div class="col col-3">
        <div class="form-group">
            <label for="code">Selecione o Produto</label>
            <select id="code" type="text" class="form-control">
                {% for produto in produtos %}
                <option value="{{ cliente[0] }}">{{ produtos[1] }} </option>
                {% endfor %}
            </select>     
        </div>
    </div>            -->
        <!-- <div class="col col-3">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input id="descricao" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                <label for="preco">Preço</label>
                <input id="preco" type="text" class="form-control">
            </div>
        </div> -->
        <!-- <div class="col col-3">
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input id="quantidade" type="text" class="form-control">
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col col-3">
            <div class="form-group">
                <label for="total">Total R$</label>
                <input id="total" type="text" class="form-control">
            </div>
        </div> -->
        <!-- <div class="col col-3">
            <div class="form-group">
                <label for="observacoes2">Observações</label>
                <input id="observacoes2" type="text" class="form-control">
            </div>
        </div>
    </div> -->


    <div class='form-row'>
        <div class='col'>
            <div class="form-group">
            <button class="btn btn-info"><i class="fa fa-save"></i> Adicionar</button>
                <!-- <button type='submit' name='editProdutoDB' id='editProdutoDB' class='btn btn-success'><i
                        class='fas fa-save'></i> Salvar</button>

                <button type='submit' name='excluiProdutoDB' id='excluiProdutoDB' class='btn btn-danger'><i
                        class='far fa-trash-alt'></i> Excluir</button> -->
            </div>
        </div>
    </div>



    <hr>

    <!-- <table class="table table-sm table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Total</th>
                <th scope="col">Observações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope='row'>1</td>
                <td>teste</td>
                <td>10,90</td>
                <td>3</td>
                <td>32,70</td>
                <td>sem cebola</td>
                <td>
                    <form action='' method='POST' name='editProduto'>
                        <input type='hidden' name='idProduto' value=''>
                        <button class='btn' type='submit' name='formEditProduto'><i class='fas fa-edit'></i></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table> -->






</form> 
{% endblock %}